.Header {
  text-align: center;
}

.title {
  font-size: 1.2em;
  float: left;
  width: 50%;
}

.controls{
    float: left;
  width: 50%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
